.Jumbo {
  flex: 0 1 auto;
  background: #fff0e5;
  margin: auto;
  position: relative;
}

/* Jumbotron */
.BaseImg {
  width: 100%;
  min-height: 300px;
}

.Img {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin-right: 20px;
}

.Art {
  min-width: 300px;
  width: 100%;
  height: auto;
  z-index: 1;
}
