.Jumbo {
  flex: 0 1 auto;
  background: #d3c2ff;
  margin: auto;
  margin-top: 0px;
  position: relative;
  transition: margin-top 1s ease;
}

.Hide {
  margin-top: -230px;
}

/* Jumbotron */
.BaseImg {
  width: 100%;
  min-height: 300px;
}

.Img {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin-right: 20px;
}

.Art {
  min-width: 300px;
  width: 100%;
  height: auto;
  z-index: 1;
}
