/* Main */

@keyframes shadow {
  from {
    text-shadow: 0px 3px 6px #00000029;
  }
  to {
    text-shadow: 0px 7px 1px #00000029;
  }
}

a {
  text-decoration: none;
  color: #1e90ff;
  animation: shadow 0.6s ease-in-out 0.1s infinite alternate;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Invite {
  font-family: 'Zapfino Forte LT One Regular';
  color: #504741;
  font-size: 40px;
  text-shadow: 0px 3px 6px #00000029;
}

.SubScript {
  font-size: 22px;
}

.Hindi {
  font-family: 'Gotu Regular';
  font-size: 28px;
}

.Hindi .SubScript {
  font-size: 18px;
}
