.App {
  text-align: center;
  background: #fff0e5;
  /* padding: 10px; */
}

.Nav {
  background: #d65e6e;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 3px 6px #00000029;
}

.Ganesha {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background: #fffeb6;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
}

.GaneshaIcon {
  display: block;
  margin: auto;
}

.Title {
  /* background: blue; */
}

.Main {
  /* background: green; */
}

.Actions {
  /* background: yellow; */
}
