/* Sections */
.ActionBar {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

/* Actions */
.Install {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: 'Laila SemiBold';
  color: #fffeb6;
  font-size: 20px;
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #fffeb6 -20%,
    #ee566b 25%,
    #ee566b 75%,
    #fffeb6 120%
  );
  box-shadow: 0px 3px 6px #00000029;
  z-index: 3;
}

.Language {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Laila SemiBold';
  color: #fffeb6;
  font-size: 20px;
  margin: auto;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #fffeb6 -20%,
    #ee566b 25%,
    #ee566b 75%,
    #fffeb6 120%
  );
  box-shadow: 0px 3px 6px #00000029;
  z-index: 3;
  transition: transform 1s;
}

.Hidden {
  transform: translateY(70px);
}

.Button {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BtnNotActive {
  text-shadow: 4px 4px 2px #00000029;
  color: #fff0e5;
  cursor: pointer;
}

.BtnIcon {
  cursor: pointer;
}
